body{
    background-color: rgb(131, 242, 242);
}

.head{
    width: auto;
    height: 100px;
    background-color: rgb(239, 240, 236);
    box-shadow: 0px 2px 10px grey;
}

.a{
    text-align: center;
    padding-top: 30px;
    color: cadetblue;
}


.back{
    margin-top: 2%;
    font-size: 20px;
    margin-left: 450px;
}

#back{
    max-width: 30px;
    height: auto;
    vertical-align: middle;
    border: 2px solid ;
}

/* box Section */

.b1{
    border: 2px solid black;
    border-radius: 5%;
    position:relative;
    width: 400px;
    height: 300px;
    margin-left: 450px;
    margin-top: 50px;
    box-shadow: 10px 10px grey;
}

#text{
    margin-left: 70px;
    left: 70px;
    font-size: 30px;
    color: black;
    border-bottom: 1px gray solid;
    line-height: 80px;
}

#striked{
    color: red;
    text-decoration: line-through;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 20px;
}

.check{
    position:relative;
    left: 90px;
    top: 30px;
    font-size: 20px;
}

#img{
    position: absolute;
    bottom: 114%;
    left: 70%;
}

.h2{
    position: relative;
    bottom: 85%;
    left: 85%;
}